/projects/mcleanm/FinalProject/bin
/projects/mcleanm/FinalProject/.project
/projects/mcleanm/FinalProject/URLValidatorCorrect/.classpath
/projects/mcleanm/FinalProject/URLValidatorCorrect/.project
/projects/mcleanm/FinalProject/URLValidatorCorrect/bin